<router-outlet></router-outlet>
<br />
<button class="btn btn-primary" [routerLink]="['new-post']">New Post</button>
<hr />
<h3>All Posts</h3>
<div class="row card-group">
  <div class="col-md-3 col-sm-6 py-2" *ngFor="let post of posts$ | async">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ post.id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.title }}</h6>
        <p class="card-text">
          {{ post.description }}
        </p>
        <a class="card-link">Edit</a>
        <a class="card-link">Delete</a>
      </div>
    </div>
  </div>
</div>
